<h1 id="room_name"><%= room.name %></h1>
<div id="chat"></div>

<script type="text/html" id="message_template">
  <div class="message row">
    <div class="span1">
      {{content}}
    </div>
    <div class="span1">
      {{room_id}}
    </div>
    <br>
  </div>
</script>