/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require solarized-light
*/
.stack > *:not(.active){
  display: none;
}
a {
  cursor: pointer;
}

body {
  background-color: #002b36 !important;
}

.well {
  background-color: #93a1a1 !important;
}

#chats_list{
  background-color: #cb4b16 !important;
  margin-left: 15px;
}

#chat_well{
  background-color: #268bd2 !important;
  margin-left: -10px;
}

#chat_room_well{
  background-color: #eee8d5 !important;
  margin-right: 10px;
  height: 500px;
  overflow: scroll;
}

.gravatar{
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -35px;
  height: 30px;
}

#chat_content{
  margin-left: -60px;
}

#enter{
  margin-left: 255px;
  background-color: #657b83 !important;
}

#individual_chat_room{
  margin-left:-10px;
  padding-right:100px;
  background-color:#859900 !important;
}

#chat_entry_box{
  width:300px !important;
  height:50px !important;
  background-color: #6c71c4 !important;
}

.nav-tab{
  height: 32px;
  margin-top: 65px;
  margin-left: 85px;
}

.nav{
  margin-left:85px;
}


.logo{
  width: 150px;
  margin-left: 85px;
}

.navbar.navbar-fixed-top{
  background-color: #d33682;
}

#navbar-container{
  background-color:#d33682;
}

#big_well{
  margin-left:0px;
}

.first{
  background-color: #cb4b16;
  margin-top: 25px;
  margin-right: 10px;
}

.first:hover{
  background-color: #cb4b16;
}

.second{
  background-color: #268bd2;
  margin-top: 25px;
}

#room_name{
  background-color: #eee8d5 !important;
}

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;