// Place all the styles related to the roomies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#roomies {
  height:50px;
  margin-left:20px;
}
.roomie {
  width:50px;
}